# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# кодировка по умолчанию
AddDefaultCharset UTF-8

# не отображаем дерево файлов/директорий
Options -Indexes

RewriteEngine    on

RewriteRule ^admin/(.*)$ admin/index.php?route=$1 [L,QSA]
 
RewriteCond %{REQUEST_URI} !^/admin

RewriteCond %{REQUEST_URI} !^/favicon.ico

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]